<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="../styles/stylesheet.css">
    <script src="./../components/View.js"></script>

    <title>Document</title>
</head>
<body>
<p>
    <div class="container text-center">
        <p>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="./../Index.html">Menú</a>
                <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div id="my-nav" class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="btn nav-link" href="./Insert.html">Insert</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn nav-link" href="./Update.html">Update</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn nav-link" href="./View.html">View</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn nav-link" href="./Delete.html">Delete</a>
                            </li>
                        </ul>
                    </div>
            </nav>
        </p>
        <p>
            <div class="center card">
                <div id="ch" class="card-header">
                    <h2>Registros de los Pedidos</h2>
                </div>
                <div id="cb" class="card-body alert-warning">        
                </div>
                <div id="cf" class="card-footer">    
                </div>
            </div>
        </p>
    </div>
</p>

    
</body>
</html>